cython
torch
torchvision
Pillow
tabulate
cloudpickle
matplotlib
tqdm
shapely
tensorboard
portalocker
easydict
termcolor
lvis
cityscapesscripts
numpy
appdirs
seaborn
pandas
ifcfg
ninja 
yacs 
opencv-python 
overrides 
gpustat 
gitpython 
graphviz
tensorboardx 
scikit-learn
colorama 
setuptools==59.5.0 
ninja 
yacs 
cython 
matplotlib 
tqdm 
opencv-python 
overrides
